Checks: '-*,
bugprone-*,
cert-*,
clang-analyzer-*,
cppcoreguidelines-*,
google-*,
hicpp-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*,
-bugprone-exception-escape,
-bugprone-narrowing-conversions,
-clang-diagnostic-inconsistent-dllimport,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-union-access,
-google-readability-todo,
-google-readability-braces-around-statements,
-google-runtime-references,
-hicpp-avoid-c-arrays,
-hicpp-braces-around-statements,
-hicpp-member-init,
-hicpp-no-array-decay,
-hicpp-signed-bitwise,
-hicpp-uppercase-literal-suffix,
-hicpp-vararg,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-readability-implicit-bool-conversion,
-readability-magic-numbers'

WarningsAsErrors: '*,
-bugprone-integer-division,
-cert-env33-c,
-cert-err58-cpp,
-clang-analyzer-cplusplus.Move,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-pro-type-reinterpret-cast,
-google-default-arguments'

#HeaderFilterRegex: '.*src.*\.hpp'

AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: '0.0;0.1;0.2;0.5;1.0;2.0;3.0;4.0;5.0;10.0;100.0;45.0;90.0;180.0;360.0'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '-2;-1;0;1;2;3;4;5;10;100;1000'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: '1'
