Checks: '*,-clang-diagnostic-inconsistent-dllimport,-fuchsia-default-arguments-calls,-modernize-use-trailing-return-type,-readability-implicit-bool-conversion,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-avoid-magic-numbers,-misc-non-private-member-variables-in-classes,-fuchsia-statically-constructed-objects'
WarningsAsErrors: '-*,-cert-err58-cpp'
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: '0.0;0.5;1.0;2.0'