# ------------------------------------------------------------------------------------------------ #
#                                This file is part of CosmoScout VR                                #
# ------------------------------------------------------------------------------------------------ #

# SPDX-FileCopyrightText: German Aerospace Center (DLR) <cosmoscout@dlr.de>
# SPDX-License-Identifier: CC0-1.0

[submodule "externals/libtiff"]
	path = externals/libtiff
	url = https://github.com/cosmoscout/libtiff.git
[submodule "externals/opensg-1.8"]
	path = externals/opensg-1.8
	url = https://github.com/cosmoscout/opensg-1.8.git
[submodule "externals/c-ares"]
	path = externals/c-ares
	url = https://github.com/cosmoscout/c-ares.git
[submodule "externals/curl"]
	path = externals/curl
	url = https://github.com/cosmoscout/curl.git
[submodule "externals/curlpp"]
	path = externals/curlpp
	url = https://github.com/cosmoscout/curlpp.git
[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "externals/SDL_ttf"]
	path = externals/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "externals/gli"]
	path = externals/gli
	url = https://github.com/cosmoscout/gli.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/cosmoscout/glm.git
[submodule "externals/tinygltf"]
	path = externals/tinygltf
	url = https://github.com/cosmoscout/tinygltf.git
[submodule "externals/vista"]
	path = externals/vista
	url = https://github.com/cosmoscout/vista.git
[submodule "externals/git-archive-all.sh"]
	path = externals/git-archive-all.sh
	url = https://github.com/cosmoscout/git-archive-all.sh
[submodule "externals/doctest"]
	path = externals/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/cosmoscout/spdlog.git
[submodule "externals/civetweb"]
	path = externals/civetweb
	url = https://github.com/cosmoscout/civetweb.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/openvr"]
	path = externals/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "plugins/csp-atmospheres/bruneton-preprocessor/output"]
	path = plugins/csp-atmospheres/bruneton-preprocessor/output
	url = https://github.com/cosmoscout/atmosphere-data.git
