[submodule "externals/libtiff"]
	path = externals/libtiff
	url = https://github.com/cosmoscout/libtiff.git
[submodule "externals/opensg-1.8"]
	path = externals/opensg-1.8
	url = https://github.com/cosmoscout/opensg-1.8.git
[submodule "externals/c-ares"]
	path = externals/c-ares
	url = https://github.com/cosmoscout/c-ares.git
[submodule "externals/curl"]
	path = externals/curl
	url = https://github.com/cosmoscout/curl.git
[submodule "externals/curlpp"]
	path = externals/curlpp
	url = https://github.com/cosmoscout/curlpp.git
[submodule "externals/freeglut"]
	path = externals/freeglut
	url = https://github.com/cosmoscout/freeglut.git
[submodule "externals/gli"]
	path = externals/gli
	url = https://github.com/cosmoscout/gli.git
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/cosmoscout/glm.git
[submodule "externals/tinygltf"]
	path = externals/tinygltf
	url = https://github.com/cosmoscout/tinygltf.git
[submodule "externals/vista"]
	path = externals/vista
	url = https://github.com/cosmoscout/vista.git
[submodule "externals/git-archive-all.sh"]
	path = externals/git-archive-all.sh
	url = https://github.com/cosmoscout/git-archive-all.sh
[submodule "externals/doctest"]
	path = externals/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "plugins/csp-vestec"]
	path = plugins/csp-vestec
	url =  https://github.com/cosmoscout/csp-vestec.git
[submodule "externals/vtk"]
	path = externals/vtk
	url = https://github.com/Kitware/VTK.git
[submodule "externals/ttk"]
	path = externals/ttk
	url = https://github.com/topology-tool-kit/ttk.git
[submodule "externals/sqlite3"]
	path = externals/sqlite3
	url = https://github.com/azadkuh/sqlite-amalgamation.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/cosmoscout/spdlog.git
[submodule "externals/civetweb"]
	path = externals/civetweb
	url = https://github.com/cosmoscout/civetweb.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/openvr"]
	path = externals/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "plugins/csp-simple-wms-bodies"]
	path = plugins/csp-simple-wms-bodies
	url = https://github.com/cosmoscout/csp-simple-wms-bodies.git
[submodule "externals/zipper"]
	path = externals/zipper
	url = https://github.com/sebastiandev/zipper.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "externals/ospray"]
	path = externals/ospray
	url = https://github.com/ospray/ospray.git
[submodule "plugins/csp-volume-rendering"]
	path = plugins/csp-volume-rendering
	url = https://github.com/cosmoscout/csp-volume-rendering.git
