#bookmark-editor {
  width: 500px;
}

#bookmark-editor .window-content {
  padding: 10px 0;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: rgb(63, 59, 59);
}

/* Full-width input fields */
.form-container input[type=colorPicker] {
  margin: 5px 0 22px 0;
  border: none;
  width: 100%;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the apply/cancel button*/
.form-container .btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}