#bookmark-editor .window-wrapper {
  width: 500px;
}

#bookmark-editor-icon-select-button {
  width: 80px;
  height: 80px;
}

#bookmark-editor-icon-select-button img {
  position: relative;
}

#bookmark-editor-icon-select-button span {
  position: absolute;
  left: 22px;
  top: 25px;
}