#calendar .window-wrapper {
  width: 400px;
  height: 400px;
}

.datepicker table,
.datepicker-inline,
.datepicker-inline>div {
  width: 100%;
  height: 100%;
}

.datepicker .disabled {
  pointer-events: none;
  opacity: 0.2;
}

.datepicker table tr th {
  text-align: center;
  padding: 10px 5px;
}

.datepicker table tr td {
  text-align: center;
  padding: 0px;
}

.datepicker .datepicker-switch,
.datepicker .dow {
  text-shadow: var(--cs-text-glow);
  color: #fff;
  text-transform: uppercase;
}

.datepicker .datepicker-switch {
  font-size: 1.4rem;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker .day {
  position: relative;
}

.datepicker .day,
.datepicker .month,
.datepicker .year,
.datepicker .decade,
.datepicker .century {
  font-weight: bold;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker .year:hover,
.datepicker .decade:hover,
.datepicker .century:hover,
.datepicker .month:hover,
.datepicker .day:hover {
  background-color: rgba(230, 230, 255, 0.1);
}

.datepicker .datepicker-switch:active,
.datepicker .prev:active,
.datepicker .next:active,
.datepicker .year:active,
.datepicker .decade:active,
.datepicker .century:active,
.datepicker .month:active,
.datepicker .day:active {
  top: 1px;
}

.datepicker .month.active,
.datepicker .year.active,
.datepicker .decade.active,
.datepicker .century.active,
.datepicker .today {
  border: 1px dashed rgba(230, 230, 255, 0.3);
}

.datepicker .month.focused,
.datepicker .year.focused,
.datepicker .decade.focused,
.datepicker .century.focused,
.datepicker .day.active {
  background-color: rgba(230, 230, 255, 0.2);
}

.datepicker .active:hover {
  background-color: rgba(230, 230, 255, 0.3);
}

.datepicker .year,
.datepicker .decade,
.datepicker .century,
.datepicker .month {
  width: 25%;
  padding: 20px 0;
  display: inline-block;
}