.divContainer {
    position: absolute;
    top: -43px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: top 1s;
    transition-timing-function: ease-out;
}

.divContainer.visible{
    top: 0px;
}

#compass-arrow {
    background-image: url("../img/compass.png");
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}
#calendar {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 382px;
    top: 150px;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#calendar.visible{
    z-index: 10;
    pointer-events: all;
}

#vizualization {
    z-index: 2;
}

i {
    font-size: 1.2rem;
    top: 4px;
    position: relative;
    margin-right: 2px;
}

.item {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
    height: 35px;
    vertical-align: bottom;
    flex-grow: 1;
    margin-left: 5px;
    position: absolute;
    top: 67px;
}

.item span {
    display: inline-block;
}

.btn {
    padding: 4px 4px 0 4px;
    line-height: 35px;
    border-radius: 0;
    color: #ddf
}

#timeControl {
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(20, 20, 20);
    top: 63px;
    border-radius: 0 0 50px 50px;
    border-bottom-color: #ddf;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 300px;
    text-align: center;
    height: 40px;
}

#btnCalendar {
    background-color: #ddf;
    border-radius: 0 50px 0 50px;
    width: 60px;
    height: 40px;
    left: -26px;
}

#btnPaus {
    background-color: #ddf;
    border-radius: 50px 0 50px 0;
    width: 60px;
    height: 40px;
    right: -27px;
}

#btnPaus i,
#btnCalendar i {
    color: rgb(20, 20, 20);
    font-size: 24px;
    top: -2px;
}

#dateLabel {
    font-size: 20px;
}

#speedControl {
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
}

#lockControl{
    right: 20px;
    background-color: #ddf;
    border-radius: 0 0 3px 3px;
    top: 65px;
    height: 30px;
    width: 32px;
}

#lockControl i {
    color: rgb(20, 20, 20);
    top: -7px;
    margin-left: -2px;
    font-size: 28px;
}

#decreaseControl {
    left: 50%;
    transform: translateX(-50%);
    top: 43px;
}

#increaseControl {
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}