.divContainer {
    position: absolute;
    bottom: -120px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: bottom 1s;
    transition-timing-function: ease-out;
}

.divContainer.visible{
    bottom: 0px;
}

#control {
    z-index: 2;
    margin: auto;
    width: auto;
}

#timeForm {
    border-radius: 10px 10px 0 0;
    width: 400px;
    height: 66px;
    padding: 2px;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 3;
    overflow: hidden;
    transition: transform 1s;
    transition-timing-function: ease-out;
}

#timeForm.calendar-active {
    transform: translateY(-359px);
}

#dateLabel {
    color: #ddf;
    font-size: 15px;
    height: 20px;
    width: 180px;
}

#btnCalendar {
    width: 20px;
    height: 20px;
    transform: translate(350px,-22px);
}

.dateRow {
    width: 100%;
    height: 20px;
}

#calendarContainer{
    position: absolute;
    left: 50%;
}

#calendar {
    pointer-events: none;
    z-index: -1;
    position: relative;
    left: -50%;
    width: 500px;
    height: 382px;
    bottom: 100px;
    transition: transform 1s, opacity 1s;
    transition-timing-function: ease-out;
}

#calendar.visible{
    z-index: 10;
    pointer-events: all;
    transform: translateY(-359px);
}

#vizualization {
    z-index: 2;
}

#range {
    margin: 5px 20px 35px 20px;
}

table {
    border-collapse: unset;
    table-layout: fixed;
}

td {
    padding: 0px 0px;
    text-align: center;
}

.noUi-pips {
    z-index: 1;
    pointer-events: none
}

.btnDiv {
    width: 50px;
    height: 40px;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 10px 10px;
    transform: translateY(32%);
    transition: background-color 0.5s;
}

.btnDiv i {
    font-size: 1.5rem;
}

.btnDiv:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#btnReset {
    border-radius: 10px 0 0 0;
}

#btnLock {
    border-radius: 0px 10px 0 0;
    transition: background-color 1s;
}

#btnLock.locked {
    background-color: rgba(255, 0, 0, 0.712);
}