.divContainer {
    position: absolute;
    top: -43px;
    left: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: top 1s;
    transition-timing-function: ease-out;
    background-image:linear-gradient(180deg,rgba(20, 20, 20, 0.4) 80%, rgba(20, 20, 20, 0.0)  100%);
    height: 110px;
}

.divContainer.visible{
    top: 0px;
}

#bottomBorderLeft {
    top: 65px;
    height: 2px;
    position: absolute;
    background-color: #ddf;
    width: 50%;
    left: 0;
    transform: translateX(-150px);
}

#bottomBorderRight {
    top: 65px;
    height: 2px;
    position: absolute;
    background-color: #ddf;
    width: 50%;
    left: 50%;
    transform: translateX(150px);
}

#compass-arrow {
    background-image: url("../img/compass.png");
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}
#calendar {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 382px;
    top: 150px;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

#calendar.visible{
    z-index: 10;
    pointer-events: all;
}

#vizualization {
    z-index: 2;
}

i {
    font-size: 1.2rem;
    top: 4px;
    position: relative;
    margin-right: 2px;
}

.item {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
    height: 35px;
    vertical-align: bottom;
    flex-grow: 1;
    margin-left: 5px;
    position: absolute;
    top: 67px;
}

.item span {
    display: inline-block;
}

.btn {
    padding: 4px 4px 0 4px;
    line-height: 35px;
    border-radius: 0;
    color: #ddf
}

.btn:hover {
    text-shadow: 0 0 25px rgb(255, 255, 0);
}


#timeControl {
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(20, 20, 20, 0.5);
    top: 65px;
    border-radius: 0 0 50px 50px;
    border-bottom-color: #ddf;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 300px;
    text-align: center;
    height: 40px;
}

#btnCalendar {
    background-color: #ddf;
    border-radius: 0 50px 0 50px;
    width: 60px;
    height: 40px;
    left: -26px;
}

#btnPaus {
    background-color: #ddf;
    border-radius: 50px 0 50px 0;
    width: 60px;
    height: 40px;
    right: -27px;
}

#btnPaus i,
#btnCalendar i {
    color: rgb(20, 20, 20);
    font-size: 24px;
    top: -2px;
}

#dateLabel {
    font-size: 20px;
}

#speedControl {
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    top: 69px;
}

#lockControl{
    right: 20px;
    background-color: #ddf;
    border-radius: 0 0 3px 3px;
    top: 65px;
    height: 30px;
    width: 32px;
}

#lockControl .btn{
    height: 28px;
    width: 28px;
}

#lockControl i {
    color: rgb(20, 20, 20);
    top: -9px;
    margin-left: -2px;
    font-size: 28px;
}

#decreaseControl {
    left: 50%;
    transform: translateX(-50%);
    top: 77px;
}

#increaseControl {
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    height: 16px;
}

#decreaseControl a,
#increaseControl a {
    height: 16px;
}

#decreaseControl i,
#increaseControl i {
    color: rgb(50, 50, 50);
    transition: color 0.2s, font-size 0.2s;
    line-height: 1;
    top: -4px;
}

#btnIncreaseMonth,
#btnDecreaseMonth {
    left: -3px;
}

#btnIncreaseDay,
#btnDecreaseDay {
    left: 1px;
}

#btnIncreaseHour,
#btnDecreaseHour {
    left: 7px;
}

#btnIncreaseMinute,
#btnDecreaseMinute {
    left: 3px;
}

#decreaseControl.mouseNear i,
#increaseControl.mouseNear i {
    color: #ddf;
}

#decreaseControl.mouseOver a,
#increaseControl.mouseOver a{
    height: 26px;
}

#decreaseControl.mouseOver i,
#increaseControl.mouseOver i {
    color: #ddf;
    font-size: 34px;
}

#increaseControl.mouseOver #btnIncreaseYear,
#decreaseControl.mouseOver #btnDecreaseYear {
    left: 0px;
    top: -1px;
}

#increaseControl.mouseOver #btnIncreaseMonth,
#decreaseControl.mouseOver #btnDecreaseMonth {
    left: 11px;
    top: -1px;
}

#increaseControl.mouseOver #btnIncreaseDay,
#decreaseControl.mouseOver #btnDecreaseDay {
    left: 30px;
    top: -1px;
}

#increaseControl.mouseOver #btnIncreaseHour,
#decreaseControl.mouseOver #btnDecreaseHour {
    left: -7px;
    top: -1px;
}

#increaseControl.mouseOver #btnIncreaseMinute,
#decreaseControl.mouseOver #btnDecreaseMinute {
    left: -27px;
    top: -1px;
}

#speedDecreaseControl {
    left: 50%;
    transform: translate(-350px);
    top: 64px;
}

#speedIncreaseControl {
    left: 50%;
    transform: translate(312px);
    top: 64px;
    height: 15px;
}

#speedIncreaseControl .btn,
#speedDecreaseControl .btn {
    font-size: 28px;
    height: 15px;
}

#speedIncreaseControl i,
#speedDecreaseControl i {
    font-size: 28px;
    height: 15px;
    top: -13px;
}

.range-label {
    height: 50px !important;
    width: 50px !important;
    top: -33px !important;
    left: -12px !important;
    background-color: #ddf !important;
    border: solid 4px rgb(20, 20, 20);
}

.range-label i {
    color: rgb(20, 20, 20);
    transform: rotate(45deg);
    font-size: 50px;
    top: -3px;
    left: -3px;
}

.noUi-target.noUi-ltr.noUi-horizontal.noUi-background {
    background-color: transparent;
    background-image:linear-gradient(90deg, #585454 0%, #585454 25%,
                    rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, 
                    #585454 75%, #585454 100%);
}