/* Global Colors--------------------------------------------------------------------------------- */
:root {
  --cs-text-color: #ddf;
  --cs-text-color-darkened: #ccf;

  --cs-border-color-light: #ddf;
  --cs-border-color: #ccf;

  --cs-background-color-light: #ddf;
  --cs-background-color: #ccf;
}

/* Resources ------------------------------------------------------------------------------------ */

@font-face {
  font-family: 'Ubuntu';
  src: url('../third-party/fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../third-party/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  src: url('../third-party/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('../third-party/fonts/AlegreyaSansSC-Regular.ttf') format('truetype');
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-alegreya {
  font-family: 'AlegreyaSansSC', sans-serif;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  vertical-align: text-bottom;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  position: relative;
}

/* Basic Containers ----------------------------------------------------------------------------- */

html {
  overflow: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--cs-text-color);
  font-size: 1rem;
  -webkit-user-select: none !important;
  -webkit-font-smoothing: antialiased;
  background: transparent;
}

.hidden {
  display: none !important;
}

.small {
  font-size: 80%;
}

code,
pre {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 3px;
  overflow: auto;
}

.important {
  background-color: rgba(200, 200, 255, 0.2);
  padding: 5px;
  border-radius: 3px;
}

strong {
  color: #fff;
  font-weight: bold;
}

.row {
  margin: 0 0 2px;
  padding: 0 0.25rem;
}

.row .col {
  padding: 0 0.2rem;
}

.text-right {
  text-align: right;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  padding-right: 10px;
  padding-left: 10px;
}


input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
  border: none;
  border-bottom: 2px solid var(--cs-border-color);
  color: var(--cs-text-color-darkened);
  background: #ccccff08;
  border-radius: 0;
}


input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not(.browser-default):not([readonly]),
input[type="password"]:focus:not(.browser-default):not([readonly]),
input[type="email"]:focus:not(.browser-default):not([readonly]),
input[type="url"]:focus:not(.browser-default):not([readonly]),
input[type="time"]:focus:not(.browser-default):not([readonly]),
input[type="date"]:focus:not(.browser-default):not([readonly]),
input[type="datetime"]:focus:not(.browser-default):not([readonly]),
input[type="datetime-local"]:focus:not(.browser-default):not([readonly]),
input[type="tel"]:focus:not(.browser-default):not([readonly]),
input[type="number"]:focus:not(.browser-default):not([readonly]),
input[type="search"]:focus:not(.browser-default):not([readonly]) {
  border-bottom: 2px solid #fff;
  box-shadow: none;
  background: #ccccff1f;
}

input,
textarea {
  color: #fff;
}

.unresponsive {
  pointer-events: none;
  opacity: 0.5;
}

.item-list.big-items>.row {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  border-top: 2px solid var(--cs-border-color);
  padding: 5px;
}

.item-list>.row {
  padding: 0 2px;
  line-height: 3rem;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s linear;
}

.item-list>.row:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.item-list .info {
  display: none;
}

.item-list .info:only-child {
  display: inline;
}

.item-list .col {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-list>.row.selectable-item:active {
  top: 1px;
}

.item-list>.row.selected {
  color: #fff;
  background-color: rgba(230, 230, 255, 0.2);
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}

.item-list .text-input {
  line-height: 2.1rem;
}

/* Scroll box ----------------------------------------------------------------------------------- */

.scroll-box {
  -webkit-mask-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 49%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 49%), -webkit-linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-mask-composite: and, and, and;
  overflow-y: auto;
}

.scroll-box-content {
  margin: 15px 0;
}

::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(230, 230, 255, 0.1);
  margin: 15px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(230, 230, 255, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(230, 230, 255, 0.9);
}

/* Buttons -------------------------------------------------------------------------------------- */

.btn {
  position: relative;
  padding: 2px 4px;
  color: #fff;
  border-radius: 0;
}

.btn.unresponsive,
.unresponsive .btn {
  opacity: 0.6;
  color: rgb(167, 167, 167);
}

.btn:active {
  top: 1px;
}

.btn.block {
  width: 100%;
  padding: 4px;
}

.btn.glass {
  background-color: rgba(230, 230, 255, 0.1);
  border-bottom: 2px solid var(--cs-border-color);
  box-shadow: none;
}

.btn.glass.unresponsive,
.unresponsive .glass {
  border-bottom: 2px solid rgb(167, 167, 167);
}

.btn.glass:hover {
  background-color: rgba(230, 230, 255, 0.3);
  border-bottom: 2px solid #fff;
  box-shadow: none;
  color: #fff;
}

.btn.light-glass {
  background-color: transparent;
  box-shadow: none;
}

.btn.light-glass:hover {
  background-color: rgba(230, 230, 255, 0.2);
  box-shadow: none;
}

/* Tabs ----------------------------------------------------------------------------------------- */

.tabs {
  background-color: transparent;
  border-bottom: 2px solid var(--cs-border-color);
  margin-bottom: 5px;
}

.tabs .tab {
  min-width: 20px;
}

.tabs .tab a {
  color: var(--cs-text-color-darkened) !important;
  position: relative;
}

.tabs .tab a:active {
  top: 1px;
}

.tabs .tab a.active,
.tabs .tab a:hover {
  color: #fff !important;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}

.tabs .indicator {
  background-color: var(--cs-text-color-darkened);
  height: 3px;
}

.nav-tabs {
  border-bottom: 1px dashed rgba(230, 230, 255, 0.3);
}

.nav.nav-tabs {
  margin: 0;
}

.nav-tabs .nav-item {
  font-family: 'AlegreyaSansSC', sans-serif;
  text-align: center;
  color: var(--cs-text-color-darkened);
  padding: 2px;
  border: none;
  font-size: 1.5rem;
}

.nav-tabs .nav-link:hover {
  border: none;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  color: #fff;
}

.nav-tabs .nav-link.active {
  color: var(--cs-text-color-darkened);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px solid var(--cs-border-color);
}

.tab-content {
  margin: 10px;
}

/* Check Boxes ---------------------------------------------------------------------------------- */

input[type=checkbox] {
  /* to hide the checkbox itself */
  display: none;
}

label input[type=checkbox]+i::before {
  position: absolute;
  bottom: -2px;
  content: "check_box_outline_blank";
}

label.checklabel span {
  padding-left: 35px;
}

label input[type=checkbox]:checked+i::before {
  color: #fff;
  content: "check_box";
}

label.checklabel {
  position: relative;
  margin-bottom: 0;
}

label.checklabel:hover {
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label.checklabel:active {
  top: 1px;
}


/* Radio Buttons -------------------------------------------------------------------------------- */

input[type=radio] {
  /* to hide the radio button itself */
  display: none;
}

input[type=radio]+span::before {
  display: inline-block;
  background: transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 6px 4px;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  border: 2px solid var(--cs-border-color);
  border-radius: 50%;
}

input[type=radio]+span {
  padding-left: 39px;
}

input[type=radio]:checked+span::before {
  background: #fff;
  border: 2px solid transparent;
}

label.radiolabel {
  position: relative;
  margin-bottom: 0;
}

label.radiolabel:hover {
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label.radiolabel:active {
  top: 1px;
}

input[type=checkbox]:checked+span.btn {
  background-color: rgba(230, 230, 255, 0.5);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
  border-top: 1px dashed rgba(230, 230, 255, 0.5);
  border-right: 1px dashed rgba(230, 230, 255, 0.5);
  border-left: 1px dashed rgba(230, 230, 255, 0.5);
}

/* Utilities ------------------------------------------------------------------------------------ */

hr {
  margin-top: 0;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px dashed rgba(230, 230, 255, 0.3);
}

/* Sliders ------------------------------------------------------------------ */

.noUi-horizontal .noUi-handle,
.noUi-connect,
.noUi-target .range-label {
  background-color: #fff;
}

.unresponsive .noUi-horizontal .noUi-handle,
.unresponsive .noUi-connect,
.unresponsive .noUi-target .range-label {
  background-color: rgb(167, 167, 167);
}

.noUi-target .range-label {
  height: auto;
  width: auto;
  left: 50%;
  top: 5px;
  position: absolute;
  transform: translateY(-50%) translateX(-50%) scale(0.8);
  min-width: 25px;
  text-align: center;
  line-height: 26px;
}

.noUi-target .noUi-active .range-label {
  transform: translate(-50%, -16px);
  border-radius: 50% !important;
}

.noUi-target .range-label {
  border-radius: 50% !important;
}

.range-label span {
  color: #333;
  opacity: 1;
  transform: rotate(0deg);
  position: relative;
  white-space: nowrap;
  top: -1px;
  left: 0;
  border-radius: 50% !important;
  padding: 2px;
}

.noUi-base {
  margin-top: 5px;
}

.noUi-background {
  background-color: #555;
}

.noUi-target.noUi-connect {
  box-shadow: none;
}

/* Collapsibles --------------------------------------------------------------------------------- */

.collapsible-header,
.collapsible-body {
  background: none;
  border: none;
  outline: none;
}

.collapsible-body {
  padding: 10px 3px 3px 3px;
}

.collapsible-header {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  line-height: 3.4rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  padding: 3px;
}

.collapsible-header .header-name {
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 0.2s linear;
}

.collapsible-header:hover .header-name,
.collapsible>li.active .collapsible-header .header-name {
  opacity: 1;
  transition: opacity 0.2s linear;
  transition-delay: 0.2s;
}

.collapsible-header:active {
  top: 1px;
}

.collapsible-header:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.collapsible-header i {
  position: absolute;
  left: 9px;
  font-size: 35px;
  top: 10px;
}

.collapsible-body p {
  padding: 0;
}

.collapsible {
  border: none;
  box-shadow: none;
}

.help .container .collapsible {
  background-color: rgba(200, 200, 255, 0.1);
}

.right .collapsible>li {
  background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.4));
}

.left .collapsible>li {
  background-color: rgba(0, 0, 0, 0.5);
}

.collapsible>li {
  transition: border 0.3s ease-out;
  margin-bottom: 5px;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.collapsible>li {
  border-top: 2px solid var(--cs-border-color);
}

/* Strike --------------------------------------------------------------------------------------- */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 25px 0 10px 0;
}

.strike:first-child {
  margin-top: 0;
}

.strike>* {
  font-family: 'AlegreyaSansSC', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
}

.strike>*:before,
.strike>*:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(230, 230, 255, 0.3) 3px, transparent 3px);
  background-size: 6px;
  background-repeat: repeat-x;
}

.strike>*:before {
  right: 100%;
  margin-right: 15px;
}

.strike>*:after {
  left: 100%;
  margin-left: 15px;
}

/* Dropdowns ------------------------------------------------------------------------------------ */

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
  background-color: transparent;
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4) !important;
}

.dropdown-toggle {
  background: transparent;
  color: var(--cs-text-color-darkened);
  border: none;
  border-bottom: 2px solid var(--cs-border-color);
}

.dropdown-toggle.show {
  background-color: transparent !important;
  color: #fff !important;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4) !important;
}

.show>.btn-light.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  background: transparent;
  box-shadow: none;
}

.dropdown-menu {
  background: #000;
  border: 1px solid var(--cs-border-color)
}

.dropdown-item,
.dropdown-option {
  background: #000;
  color: var(--cs-text-color-darkened);
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-option:focus,
.dropdown-option:hover {
  background: #000;
  color: var(--cs-text-color-darkened);
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  outline: none;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: none !important;
  box-shadow: none;
}

.dropdown-item.active,
.dropdown-option:active {
  background-color: #000;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
  color: #fff;
}

/* Tooltips ------------------------------------------------------------------------------------- */

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: var(--cs-text-color-darkened) !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: var(--cs-text-color-darkened) !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--cs-text-color-darkened) !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: var(--cs-text-color-darkened) !important;
}

.tooltip .tooltip-inner {
  color: var(--cs-text-color);
  background: rgba(20, 20, 20, 0.8);
  border: 2px solid var(--cs-border-color);
  border-radius: 5px;
}

/* Resizable Windows ---------------------------------------------------------------------------- */

.resizable-window {
  resize: both;
  overflow: hidden;
}

/* This thing is required to make the resize-grip clickable even if a link is beneath it */
.resizable-window::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

::-webkit-resizer {
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ccf transparent;
  background: transparent;
}

/* Movable Windows ------------------------------------------------------------------------------ */

.draggable-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(10, 10, 10, 0.9);
  border: 2px solid var(--cs-border-color);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.draggable-window.visible {
  pointer-events: all;
  opacity: 1;
}

.draggable-window .window-header {
  display: flex;
  font-size: 1.2rem;
  border-bottom: 1px dashed rgba(230, 230, 255, 0.3);
}

.draggable-window .window-header:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.draggable-window .window-title {
  position: relative;
  flex-grow: 1;
  padding: 10px;
}

.draggable-window .window-content {
  flex-grow: 1;
}

.draggable-window .window-title:active {
  top: 1px;
}

.draggable-window .window-header i {
  padding: 10px;
}

.draggable-window .window-title i {
  padding: 0 10px;
}

/* color picker --------------------------------------------------------------------------------- */

.color-picker.no-alpha .color-picker\:a {
  display: none;
}