/* Resources ---------------------------------------------------------------- */

@font-face {
    font-family: 'Ubuntu';
    src: url('../third-party/fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    src: url('../third-party/fonts/MaterialIcons-Regular.woff') format('woff');
;
}

* {
    border-radius: 0 !important;
}

:focus {
    outline: none !important;
}

.debug {
    background: black;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
}

/* Basic Containers --------------------------------------------------------- */

body {
    font-family: 'Ubuntu', sans-serif !important;
    color: #ddf;
    font-size: 1.2rem;
    -webkit-user-select: none !important;
    -webkit-font-smoothing: antialiased;
    background: transparent;
}

.hidden {
    display: none !important;
}

.small {
    font-size: 80%;
}

xmp, code, pre {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 3px;
    overflow: auto;
}

.important {
    background-color: rgba(200, 200, 255, 0.2);
    padding: 5px;
    border-radius: 3px;

}

strong {
    color: #fff;
    font-weight: bold;
}

.row {
    margin: 0 0 2px;
    padding: 0 0.25rem;
}

.row .col {
    padding: 0 0.2rem;
}

.text-right {
    text-align: right;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea,
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
    border: none;
    border-bottom: 2px solid #ccf;
    color: #ccf;
    margin: 0 0 5px 0;
    height: auto;
    line-height: 1.5;
    background: transparent;
    width: 100%;
}


input:focus:not([type]):not([readonly]),
input[type="text"]:focus:not(.browser-default):not([readonly]),
input[type="password"]:focus:not(.browser-default):not([readonly]),
input[type="email"]:focus:not(.browser-default):not([readonly]),
input[type="url"]:focus:not(.browser-default):not([readonly]),
input[type="time"]:focus:not(.browser-default):not([readonly]),
input[type="date"]:focus:not(.browser-default):not([readonly]),
input[type="datetime"]:focus:not(.browser-default):not([readonly]),
input[type="datetime-local"]:focus:not(.browser-default):not([readonly]),
input[type="tel"]:focus:not(.browser-default):not([readonly]),
input[type="number"]:focus:not(.browser-default):not([readonly]),
input[type="search"]:focus:not(.browser-default):not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}

input, textarea {
    color: white;
}

.unresponsive {
    pointer-events: none;
    opacity: 0.5;
}

.item-list.big-items > .row {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    border-top: 2px solid #ccf;
    padding: 5px;
}

.item-list > .row {
    padding: 0 2px;
    line-height: 3rem;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0.1s linear;
}

.item-list > .row:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.item-list .info {
    display: none;
}

.item-list .info:only-child {
    display: inline;
}

.item-list .col {
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
}

.item-list > .row.selectable-item:active {
    top: 1px;
}

.item-list > .row.selected {
    color: #fff;
    background-color: rgba(230, 230, 255, 0.2);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}

.item-list .text-input {
    line-height: 2.1rem;
}

/* Scroll box --------------------------------------------------------------- */
.scroll-box {
    /*background-color: rgba(230, 230, 255, 0.1);*/
    -webkit-mask-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 49%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 49%), -webkit-linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-mask-composite: and, and, and;
    overflow-y: auto;
}

.scroll-box-content {
    margin: 15px 0;
}

::-webkit-scrollbar {
    width: 20px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(230, 230, 255, 0.1);
    margin: 15px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(230, 230, 255, 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(230, 230, 255, 0.9);
}

/* Buttons ------------------------------------------------------------------ */
.btn {
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
}

.btn.unresponsive,
.unresponsive .btn {
    opacity: 0.6;
    color: rgb(167, 167, 167);
}

.btn:active {
    top: 1px;
}

.btn-large {
    height: auto;
    text-transform: none;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 5px;
}

.btn-large i {
    display: block;
    font-size: 4em;
    line-height: 1em;
}

.block {
    width: 100%;
}

.glass {
    background-color: rgba(230, 230, 255, 0.1);
    border-bottom: 2px solid #ccf;
    box-shadow: none;
}

.glass.unresponsive,
.unresponsive .glass {
    border-bottom: 2px solid rgb(167, 167, 167);
}

.glass:hover {
    background-color: rgba(230, 230, 255, 0.3);
    border-bottom: 2px solid #fff;
    box-shadow: none;
}

.light-glass {
    background-color: transparent;
    box-shadow: none;
}

.light-glass:hover {
    background-color: rgba(230, 230, 255, 0.2);
    box-shadow: none;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* Tooltips ----------------------------------------------------------------- */

.material-tooltip {
    color: #ddf;
    background: rgba(20, 20, 20, 0.8);
    border: 2px solid #ccf;
    border-radius: 5px;
}


/* Tabs --------------------------------------------------------------------- */

.tabs {
    background-color: transparent;
    border-bottom: 2px solid #ccf;
    margin-bottom: 5px;
}

.tabs .tab {
    min-width: 20px;
}

.tabs .tab a {
    color: #ccf !important;
    position: relative;
}

.tabs .tab a:active {
    top: 1px;
}

.tabs .tab a.active,
.tabs .tab a:hover {
    color: #fff !important;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
}

.tabs .indicator {
    background-color: #ccf;
    height: 3px;
}

/* Radio & Check Boxes ------------------------------------------------------ */

/* Check Boxes -------------------------------------------------------------- */

input[type=checkbox] {
    /* to hide the checkbox itself */
    display: none;
}

label input[type=checkbox] + i::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px 0 4px 0;
    content: "check_box_outline_blank";
}

label.checklabel span {
    padding-left: 35px;
}

label input[type=checkbox]:checked + i::before {
    color: white;
    content: "check_box";
}

label.checklabel {
    position: relative;
    margin-bottom: 0;
}

label.checklabel:hover {
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

label.checklabel:active {
    top: 1px;
}


/* Radio Buttons ------------------------------------------------------------ */

input[type=radio] {
    /* to hide the radio button itself */
    display: none;
}

input[type=radio] + span::before {
    display: inline-block;
    background: transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 6px 4px;
    width: 16px;
    height: 16px;
    vertical-align: sub;
    border: 2px solid #ccf;
    border-radius: 50%;
}

input[type=radio] + span {
    padding-left: 39px;
}

input[type=radio]:checked + span::before {
    background: white;
    border: 2px solid transparent;
}

label.radiolabel {
    position: relative;
    margin-bottom: 0;
}

label.radiolabel:hover {
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

label.radiolabel:active {
    top: 1px;
}

/* Utilities ---------------------------------------------------------------- */

hr {
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px dashed rgba(230, 230, 255, 0.3);
}

/* Sliders ------------------------------------------------------------------ */

.noUi-horizontal .noUi-handle,
.noUi-connect,
.noUi-target .range-label {
    background-color: #fff;
}

.unresponsive .noUi-horizontal .noUi-handle,
.unresponsive .noUi-connect,
.unresponsive .noUi-target .range-label {
    background-color: rgb(167, 167, 167);
}

.noUi-target .range-label {
    height: auto;
    width: auto;
    left: 50%;
    top: 5px;
    position: absolute;
    transform: translateY(-50%) translateX(-50%) scale(0.8);
    min-width: 25px;
    text-align: center;
    line-height: 26px;
}

.noUi-target .noUi-active .range-label {
    transform: translate(-50%, -40px);
    border-radius: 50% !important;
}

.noUi-target .range-label {
    border-radius: 50% !important;
}

.range-label span {
    color: #333;
    opacity: 1;
    transform: rotate(0deg);
    position: relative;
    white-space: nowrap;
    top: -1px;
    left: 0;
    border-radius: 50% !important;
    padding: 2px;
}

.noUi-base {
    margin-top: 5px;
}

.noUi-background {
    background-color: #555;
}

.noUi-target.noUi-connect {
    box-shadow: none;
}

/* Collapsibles ------------------------------------------------------------- */

.collapsible-header,
.collapsible-body {
    background: none;
    border: none;
    outline: none;
}

.collapsible-body {
    padding: 10px 3px 3px 3px;
}

.collapsible-header {
    color: #fff;
    display: block;
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 3px;
}

.collapsible-header .header-name {
    opacity: 0;
    text-transform: uppercase;
    transition: opacity 0.2s linear;
}

.collapsible-header:hover .header-name,
.collapsible > li.active .collapsible-header .header-name {
    opacity: 1;
    transition: opacity 0.2s linear;
    transition-delay: 0.2s;
}

.collapsible-header:active {
    top: 1px;
}

.collapsible-header:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.collapsible-header i {
    position: absolute;
    left: 9px;
    font-size: 35px;
    top: 10px;
}

.collapsible-body p {
    padding: 0;
}

.collapsible {
    border: none;
    box-shadow: none;
}

.help .container .collapsible {
    background-color: rgba(200, 200, 255, 0.1);
}

.right .collapsible > li {
    background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.4));
}

.left .collapsible > li {
    background-color: rgba(0, 0, 0, 0.5);
}

.collapsible > li {
    transition: border 0.3s ease-out;
    margin-bottom: 5px;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.collapsible > li {
    border-top: 2px solid #ccf;
}

/* Strike ------------------------------------------------------------------- */

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 25px 0 10px 0px;
}

.strike:first-child {
    margin-top: 0px;
}

.strike > * {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
}

.strike > *:before,
.strike > *:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(230, 230, 255, 0.5) 3px, transparent 3px);
    background-size: 6px;
    background-repeat: repeat-x;
}

.strike > *:before {
    right: 100%;
    margin-right: 15px;
}

.strike > *:after {
    left: 100%;
    margin-left: 15px;
}

/* Color Picker ------------------------------------------------------------- */

.cp-app {
    border-radius: 0 !important;
    z-index: 100;
}

input.color-picker {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
}

/* Progress bars ------------------------------------------------------------ */

.progress {
    background-color: #aab;
}

.progress .indeterminate {
    background-color: #fff;
}

/* Dropdowns ---------------------------------------------------------------- */

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4) !important;
}

.dropdown-toggle {
    background: transparent;
    color: #ccf;
    border: none;
    border-bottom: 2px solid #ccf;
}

.dropdown-toggle.show {
    background-color: transparent !important;
    color: white !important;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4) !important;
}

.show>.btn-light.dropdown-toggle:focus,
.dropdown-toggle:hover {
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    background: transparent;
    box-shadow: none;
}

.dropdown-menu {
    background: black;
    border: 1px solid #ccf
}

.dropdown-item,
.dropdown-option {
    background: black;
    color: #ccf;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-option:focus,
.dropdown-option:hover {
    background: black;
    color: #ccf;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
    box-shadow: none;
}

.dropdown-item.active,
.dropdown-option:active {
    background-color: black;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    color: white;
}

/* Nav Tabs --------------------------------------------------------------*/

.nav.nav-tabs {
    margin: 0;
}

.nav-tabs .nav-item {
    text-align: center;
    color: #ccf;
    padding: 2px;
    border: none;
    font-size: 1rem;
}

.nav-tabs .nav-link:hover {
    border: none;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    color: white;
}

.nav-tabs .nav-link.active {
    color: #ccf;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.tab-content {
    margin: 10px;
}