body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 0.9rem;
    background-color: rgba(20, 20, 20, 0.5);
    border-bottom: 2px solid #ccf;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.2s linear;
}

#header.visible {
    opacity: 1;
}

#header i {
    font-size: 1.2rem;
    top: 4px;
    position: relative;
    margin-right: 2px;
}

#header .item {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
    height: 35px;
    vertical-align: bottom;
    flex-grow: 1;
    padding-left: 1px;
    padding-right: 1px;
}

#header .text-input {
    height: 29px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccf;
    border-radius: 0;
    vertical-align: top;
    margin: 4px 0 0 0;
    font: 400 1.2rem Arial;
}

#header .text-input:focus {
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

#header .text-input:hover {
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

#header .text-input:active {
    border: none;
    border-bottom: 2px solid #fff;
}

#time-nav {
    text-align: center;
}

#header .item span {
    display: inline-block;
}

#header .btn {
    padding: 4px 4px 0 4px;
    color: #ddf
}

#header .btn i {
    line-height: 35px;
    font-size: 1.5rem;
    top: -4px;
    margin: 0;
}

#compass-arrow {
    background-image: url("../img/compass.png");
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}
