html {
    overflow: hidden;
}

#notifications {
    position: absolute;
    right: 0;
    width: 420px;
    height: 320px;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 20px, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 49%), -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 70%);
    -webkit-mask-composite: and, and;
}

.notification {
    position: absolute;
    width: 380px;
    transform: translate(330px, 5px);
    color: #ccf;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.4));
    line-height: 15px;
    padding-bottom: 15px;
    opacity: 0;
    border-radius: 5px;
    transition: transform 500ms cubic-bezier(0.305, 1.535, 0.570, 1.000), opacity 500ms linear;
}

.notification.clickable:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.8));
}

.notification.show:nth-child(1) {
    transform: translate(30px, 5px);
}

.notification.show:nth-child(2) {
    transform: translate(30px, 85px);
}

.notification.show:nth-child(3) {
    transform: translate(30px, 165px);
}

.notification.show:nth-child(4) {
    transform: translate(30px, 245px);
}

.notification.show:nth-child(5) {
    transform: translate(30px, 325px);
}

.notification.show {
    opacity: 1;
}

.notification.fadeout {
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.305, 1.535, 0.570, 1.000), opacity 700ms linear;
}

.notification.row {
    margin: 0;
}

.notification i {
    font-size: 3rem;
    margin-top: 13px;
    -webkit-animation: flash 1000ms ease-in-out, wiggle 1200ms linear;
}

.notification-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 13px;
}

@-webkit-keyframes flash {
    0% {
        color: #ccf;
        opacity: 0;
    }

    50% {
        color: #ccf;
        opacity: 0.8;
        text-shadow: 0 0 0 #ccf;
    }

    60% {
        color: #fff;
        opacity: 1;
        text-shadow: 0 0 30px #ccf;
    }

    100% {
        color: #ccf;
        text-shadow: 0 0 0 #ccf;
    }
}


@-webkit-keyframes wiggle {
    0% {
        transform: rotate3d(0,0,1,0deg);
    }

    51% {
        transform: rotate3d(0,0,1,0deg);
    }

    58% {
        transform: rotate3d(0,0,1,15deg);
    }

    65% {
        transform: rotate3d(0,0,1,-15deg);
    }

    72% {
        transform: rotate3d(0,0,1,10deg);
    }

    79% {
        transform: rotate3d(0,0,1,-10deg);
    }

    86% {
        transform: rotate3d(0,0,1,5deg);
    }

    93% {
        transform: rotate3d(0,0,1,-5deg);
    }

    100% {
        transform: rotate3d(0,0,1,0deg);
    }
}
