
#overview .vis-timeline {
  border-width: 0px;
  background: rgba(20, 20, 20, 0);
}

#overview .vis-custom-time {
  background-color: rgba(0, 110, 255, 0);
  width: 2px;
  cursor: move;
  z-index: 1;
  pointer-events: none;
}

#overview .vis-time-axis.vis-background {
  height: 5px;
  top: 22px;
}

#overview .vis-time-axis.vis-foreground {
  height: 43px !important;
}

#overview .vis-item {
  background-color: rgba(0, 0, 0, 0.705);
}

#overview .vis-item,
#overview .vis-item.vis-line {
  border-width: 2px;
  border-radius: 10px;
  z-index: 5;
}

#overview .vis-item.vis-dot {
  border-width: 0;
  border-radius: 0;
}

#overview .vis-item.vis-box,
#overview .vis-item.vis-range {
  height: 12px !important;
  top: 13px !important;
  min-width: 12px !important;
  margin-left: 2px;
}

#overview .vis-panel.vis-bottom {
  height: 40px !important;
  top: -2px !important;
  pointer-events: none;
}

#overview .vis-panel.vis-center {
  border-style: dashed;
  overflow: visible;
  z-index: 1;
}


#overview .vis-item.vis-box {
  width: 12px !important;
}

#overview .vis-item.vis-box.mouseOver {
  width: 18px !important;
  height: 18px !important;
  margin-left: -1px;
  top: 10px !important;
}

#overview .vis-item.vis-range.mouseOver {
  height: 18px !important;
  margin-left: -1px;
  top: 10px !important;
  min-width: 18px !important;
}

#overview .vis-item-content {
  visibility: hidden;
}

#overview .vis-text.vis-major {
  top: 26px !important;
  font-size: 10px;
  z-index: 1;
}

#overview .vis-panel.vis-background.vis-horizontal,
#overview .vis-panel.vis-center,
#overview .vis-panel.vis-left,
#overview .vis-panel.vis-right,
#overview .vis-grid.vis-minor {
  height: 26px !important;
}

#overview .vis-group {
  top: 10px;
}

#overview .vis-content {
  top: 0px !important;
}

#overview .vis-minor.vis-text {
  text-align: center;
  transform: translate(-50%);
  z-index: 1;
  top: 8px !important;
  font-size: 10px;
}

#overview .vis-grid.vis-vertical.vis-major,
#overview .vis-grid.vis-vertical.vis-minor {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
  background-color: #ddf;
  z-index: 1;
  top: 0px !important;
}