.side-bar {
    width: 450px;
    max-height: calc(100vh - 220px);
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.side-bar.visible {
    opacity: 1;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.side-bar.right {
    right: 0;
}

.side-bar .tab {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: width 0.3s ease, background 0.1s linear;
    width: 55px;
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
    text-align: center;
    padding: 3px;
    border-top: 2px solid #ccf !important;
    position: relative;
}

.side-bar .tab:active {
    top: 1px;
}

.side-bar .tab .header-name {
    opacity: 0;
    transition: opacity 0.1s linear;
    overflow-x: hidden;
    text-overflow: clip;
    white-space: nowrap;
}


.side-bar .tab:not(.collapsed),
.side-bar .tab:hover {
    width: 450px;
}

.side-bar .tab:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

.side-bar .tab:not(.collapsed) .header-name,
.side-bar .tab:hover .header-name {
    opacity: 1;
    transition: opacity 0.2s linear;
    transition-delay: 0.1s;
}

.side-bar .card-header i {
    position: absolute;
    left: 9px;
    font-size: 35px;
    top: 10px;
    width: 2rem;
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
}

.side-bar .card .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.side-bar .card {
    background: transparent;
    padding: 5px 0;
    margin: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.accordion > .card .card-header {
    margin: 0;
    border: none;
    border-radius: 0;
}

.side-bar *[type=button] {
    -webkit-appearance: none;
}

/* Setting Sections --------------------------------------------------------- */

.settings-section .card-header {
    width: 100%;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px #aaf;
    position: relative;
    transition: 100ms background;
    padding: 0.5rem 1.7rem;
}

.settings-section .card-header:active {
    top: 1px;
}

.settings-section .card-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 2rem;
}

.settings-section .card-header span {
    text-align: center;
    display: inline-block;
    padding-left: 25px;
}

.settings-section .card-body {
    background-color: transparent !important;
    width: 100%;
}

.settings-section .card-header:hover {
    background: rgba(255, 255, 255, 0.1);
}

.settings-section .card-header .caret-icon {
    position: absolute;
    left: auto;
    right: 0;
    transform: rotate(0deg);
    transition: 100ms transform;
}

.settings-section .card-header:not(.collapsed) .caret-icon {
    transform: rotate(-90deg);
}

.side-bar .card.settings-section {
    border-style: dashed;
    border-width: 1px 0 0 0;
    border-color: rgba(255, 255, 255, 0.4);
}


.settings-accordion {
    margin-bottom: 0;
}