
#snippet {
    background: rgb(20, 20, 20);
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-color: #ddf;
    pointer-events: none;
}