
#statusbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    overflow: hidden;
    font-size: 0.9rem;
    text-shadow: 0 0 5px black, 0 0 2px black;
    opacity: 0;
    transition: opacity 0.2s linear;
}

#statusbar.visible {
    opacity: 1;
}

#statusbar i {
    font-size: 1.2rem;
    top: 4px;
    position: relative;
    margin-right: 2px;
}

#statusbar .item {
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
    height: 35px;
    vertical-align: bottom;
    flex-grow: 1;
    margin-left: 5px;
}

#statusbar .item span {
    display: inline-block;
}

#statusbar .btn {
    padding: 4px 4px 0 4px;
    color: #ddf
}

#statusbar .btn i {
    line-height: 35px;
    font-size: 1.5rem;
    top: -4px;
    margin: 0;
}