  .vis-timeline {
    border-width: 0px;
    background-color: rgba(20, 20, 20, 0.5);
  }

  #visualization .vis-timeline {
    border-width: 0;
    border-color: #ddf;
    overflow: visible !important;
  }

  #visualization .vis-time-axis {
    pointer-events: none;
  }

  .vis-time-axis .vis-text {
    padding: 1px;
    color: #ddf;
  }

  #visualization .vis-item {
    border-color: rgba(20, 20, 20, 0.308);
    background-color: rgba(20, 20, 20, 0.5);
    color: #ddf;
    border-radius: 10px;
  }

  #visualization .vis-item.vis-box {
    border-radius: 10px;
  }

  #visualization .vis-item.vis-range {
    border-radius: 10px;
  }

  #visualization .vis-item,
  #visualization .vis-item.vis-line {
    border-width: 2px;
    border-radius: 10px;
  }

  #visualization .vis-item.vis-dot {
    border-width: 0;
    border-radius: 0;
  }

  #visualization .vis-item.vis-selected {
    border-color: rgba(70, 70, 70, 0.308);
    background-color: rgba(70, 70, 70, .247);
  }

  #visualization .vis-item.vis-box,
  .vis-item.vis-range {
    height: 13px !important;
    min-width: 13px !important;
    top: 4px !important
  }

  #visualization .vis-item.vis-box {
    width: 13px !important;
  }

  #visualization .vis-item-content {
    visibility: hidden;
  }


  #visualization .vis-panel.vis-bottom {
    height: 40px !important;
    top: -10px !important;
    pointer-events: none;
    border-left-style: hidden;
    border-right-style: hidden;
  }
  #visualization .vis-text.vis-major {
    top: 17px !important;
    visibility: hidden;
  }

  #visualization .vis-panel.vis-background.vis-horizontal,
  #visualization .vis-panel.vis-center,
  #visualization .vis-panel.vis-left,
  #visualization .vis-panel.vis-right,
  #visualization .vis-grid.vis-minor {
    height: 25px !important;
  }

  #visualization .vis-group {
    top: 0px;
  }

  #visualization .vis-custom-time.custom {
    background-color: #ddf;
    width: 15px !important;
    height: 15px !important;
    cursor: inherit;
    pointer-events: none;
    border-radius: 10px;
    top: -8px !important;
  }

  #visualization .vis-minor.vis-text {
    z-index: 1;
    top: 14px !important;
    font-size: 10px;
    margin-left: 4px;
  }

  #visualization .vis-content {
    top: 0px !important;
  }

  #visualization .vis-grid.vis-vertical.vis-major,
  #visualization .vis-grid.vis-vertical.vis-minor {
    border-color: #ddf;
    height: 14px !important;
    top: 6px !important;
    border-width: 2px;
  }

  #visualization .vis-grid.vis-vertical.vis-major{
    height: 18px !important;
    top: 4px !important;
  }

  #visualization .vis-panel.vis-center{
    border-width: 0px;
  }

  #visualization:hover {
    box-shadow: 0 0 15px #86d5f8;
  }

  #visualization:active {
    top: 1px;
  }
 