/* main timeline styles ------------------------------------------------------------------------- */

:root {
  --center-element-width: 340px;
}

#timeline {
  -webkit-font-smoothing: subpixel-antialiased;
}

.vis-timeline {
  border-width: 0;
  background-color: rgba(20, 20, 20, 0.5);
}

#timeline .vis-timeline {
  border-width: 0;
  border-color: var(--cs-border-color-light);
  overflow: visible !important;
}

#timeline .vis-time-axis {
  pointer-events: none;
}

.vis-time-axis .vis-text {
  padding: 1px;
  color: var(--cs-text-color);
}

#timeline .vis-item {
  border-color: rgba(20, 20, 20, 0.308);
  background-color: rgba(20, 20, 20, 0.5);
  color: var(--cs-text-color);
  border-radius: 10px;
}

#timeline .vis-item.vis-line {
  display: none;
}

#timeline .vis-item {
  border-width: 2px;
  border-radius: 10px;
}

#timeline .vis-item.vis-dot {
  border-width: 0;
  border-radius: 0;
}

#timeline .vis-item.vis-selected {
  border-color: rgba(20, 20, 20, 0.5);
  background-color: rgba(20, 20, 20, 0.5);

  /* For some reason active items are translate 3 pixels to the left. We compensate for that here. */
  transform: translateX(3px);
}

#timeline .vis-item.vis-box,
.vis-item.vis-range {
  height: 12px !important;
  min-width: 12px !important;
  top: 4px !important;
  transition-property: height, top;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

#timeline .vis-item.vis-box {
  width: 12px !important;
  transition-property: margin, width, height, top;
}

#timeline .vis-item.vis-box:hover {
  width: 18px !important;
  height: 18px !important;
  margin-left: -3px;
  top: 1px !important;
}

#timeline .vis-item.vis-range:hover {
  height: 18px !important;
  top: 1px !important;
}


#timeline .vis-item-content {
  visibility: hidden;
}


#timeline .vis-panel.vis-bottom {
  height: 35px !important;
  top: 0 !important;
  pointer-events: none;
  border-left-style: hidden;
  border-right-style: hidden;
}

#timeline .vis-text.vis-major {
  top: 7px !important;
  font-size: 9px;
  margin-left: 4px;
}

#timeline .vis-panel.vis-background.vis-horizontal,
#timeline .vis-panel.vis-center,
#timeline .vis-panel.vis-left,
#timeline .vis-panel.vis-right,
#timeline .vis-grid.vis-minor {
  height: 35px !important;
}

#timeline .vis-group {
  top: 3px;
}

#timeline .vis-custom-time.center-time {
  background-color: var(--cs-background-color-light);
  width: 16px !important;
  height: 16px !important;
  cursor: inherit;
  pointer-events: none;
  border-radius: 10px;
  top: -8px !important;
  margin-left: -8px !important;
}

#timeline .vis-minor.vis-text {
  z-index: 1;
  top: 18px !important;
  font-size: 12px;
  margin-left: 4px;
}

#timeline .vis-content {
  top: 0 !important;
}

#timeline .vis-grid.vis-vertical.vis-minor {
  border-color: var(--cs-border-color-light);
  height: 12px !important;
  top: 22px !important;
  border-width: 2px;
  margin-left: -1px;
}

#timeline .vis-grid.vis-vertical.vis-major {
  border-color: var(--cs-border-color-light);
  height: 30px !important;
  top: 4px !important;
  border-width: 2px;
  margin-left: -1px;
}

#timeline .vis-panel.vis-center {
  border-width: 0;
}

#timeline:hover {
  background-color: rgba(230, 230, 255, 0.3);
}

#timeline:active {
  top: 1px;
}

/* overview timeline styles --------------------------------------------------------------------- */

#overview .vis-timeline {
  border-width: 0;
  background: rgba(20, 20, 20, 0);
}

#overview .vis-custom-time {
  background-color: rgba(0, 110, 255, 0);
  width: 2px;
  cursor: move;
  z-index: 1;
  pointer-events: none;
}

#overview .vis-time-axis.vis-background {
  height: 5px;
  top: 22px;
}

#overview .vis-time-axis.vis-foreground {
  height: 43px !important;
}

#overview .vis-item.vis-line {
  display: none;
}

#overview .vis-item {
  background-color: rgba(0, 0, 0, 0.705);
  border-width: 2px;
  border-radius: 10px;
  z-index: 5;
}

#overview .vis-item.vis-dot {
  border-width: 0;
  border-radius: 0;
}

#overview .vis-item.vis-box,
#overview .vis-item.vis-range {
  height: 12px !important;
  top: 13px !important;
  min-width: 12px !important;
  transition-property: height, top;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

#overview .vis-panel.vis-bottom {
  height: 40px !important;
  top: -2px !important;
  pointer-events: none;
}

#overview .vis-panel.vis-center {
  border-style: dashed;
  overflow: visible;
  z-index: 1;
}

#overview .vis-item.vis-box {
  width: 12px !important;
  margin-left: 4px;
  transition-property: width, height, margin, top;
}

#overview .vis-item.vis-box:hover {
  width: 18px !important;
  height: 18px !important;
  margin-left: 1px;
  top: 10px !important;
}

#overview .vis-item.vis-range:hover {
  height: 18px !important;
  top: 10px !important;
}

#overview .vis-item-content {
  visibility: hidden;
}

#overview .vis-text.vis-major {
  top: 26px !important;
  font-size: 10px;
  z-index: 1;
}

#overview .vis-panel.vis-background.vis-horizontal,
#overview .vis-panel.vis-center,
#overview .vis-panel.vis-left,
#overview .vis-panel.vis-right,
#overview .vis-grid.vis-minor {
  height: 26px !important;
}

#overview .vis-group {
  top: 6px;
}

#overview .vis-content {
  top: 0 !important;
}

#overview .vis-minor.vis-text {
  text-align: center;
  transform: translate(-50%);
  z-index: 1;
  top: 8px !important;
  font-size: 10px;
}

#overview .vis-grid.vis-vertical.vis-major,
#overview .vis-grid.vis-vertical.vis-minor {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
  background-color: var(--cs-background-color-light);
  z-index: 1;
  top: 0 !important;
}

#overview:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#overview:active {
  top: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* overview focus rect -------------------------------------------------------------------------- */

#focus-lens {
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: var(--cs-border-color-light);
  pointer-events: none;
  background-color: rgba(20, 20, 20, 0.5);
  top: 2px;
  z-index: 1;
  position: absolute;
}

#focus-lens-left,
#focus-lens-right {
  height: 1px;
  border-bottom: 2px solid var(--cs-border-color-light);
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

#focus-lens-left {
  left: 0;
}

#focus-lens-right {
  right: 0;
}

/* timeline control items ----------------------------------------------------------------------- */

#timeline-container {
  grid-area: timeline;
  z-index: 2;
  position: relative;
  padding: 0;
  transition: margin-top 0.3s ease;
  background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.4) 80%, rgba(20, 20, 20, 0.0) 100%);
  margin: -43px 0 0;
}

#timeline-container.overview-visible {
  margin-top: 0;
}

#bottom-border-left {
  top: 75px;
  height: 2px;
  position: absolute;
  background-color: var(--cs-background-color-light);
  width: calc(50% - 0.5*var(--center-element-width));
  left: 0;
}

#bottom-border-right {
  top: 75px;
  height: 2px;
  position: absolute;
  background-color: var(--cs-background-color-light);
  width: calc(50% - 0.5*var(--center-element-width));
  right: 0;
}

#compass-arrow {
  background-image: url("../img/compass.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  display: inline-block;
  top: 5px;
  position: relative;
}

#timeline-container .item {
  position: absolute;
}

#timeline-container .btn {
  padding: 0 4px;
  font-size: 20px;
  line-height: 35px;
  border-radius: 0;
  color: var(--cs-text-color);
}

#time-control {
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 0 0 50px 50px;
  border-bottom-color: var(--cs-border-color-light);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  width: var(--center-element-width);
  display: flex;
  height: 40px;
}

#timeline-container #time-reset-button {
  border-radius: 0 50px 0 50px;
}

#timeline-container #pause-button {
  border-radius: 50px 0 50px 0;
}

#timeline-container .btn-main {
  background-color: var(--cs-background-color-light);
  width: 60px;
  height: 40px;
}

#timeline-container #pause-button:hover,
#expand-control:hover,
#time-reset-button:hover {
  background-color: #fff;
}

#pause-button i,
#time-reset-button i {
  color: rgb(20, 20, 20);
  font-size: 24px;
}

#timeline-container .range-label {
  color: rgb(20, 20, 20);
  line-height: 1;
}

#date-label-container {
  flex-grow: 1;
  position: relative;
}

#date-label {
  font-size: 20px;
  top: 5px;
  padding-right: 5px;
  position: relative;
}

#speed-control {
  left: 50%;
  width: 600px;
  transform: translateX(-50%);
  top: 82px;
}

#speed-control i {
  font-size: 24px;
}

#expand-control {
  right: 20px;
  background-color: var(--cs-background-color-light);
  border-radius: 0 0 5px 5px;
  top: 75px;
}

#expand-control i {
  color: rgb(20, 20, 20);
  width: 32px;
  font-size: 24px;
  text-align: center;
  height: 25px;
  top: -5px;
}

#decreaseControl {
  top: 11px;
  left: 0;
}

#increaseControl {
  top: 5px;
  left: 0;
}

#decreaseControl a,
#increaseControl a {
  height: 20px;
  width: 36px;
  padding: 0;
  margin: 0;
  pointer-events: all;
  border: 0;
  position: absolute;
}

#decreaseControl a {
  top: 5px;
}

#increaseControl a {
  top: -10px;
}

#decreaseControl a:active {
  top: 6px;
}

#increaseControl a:active {
  top: -9px;
}

#decreaseControl i,
#increaseControl i {
  opacity: 0;
  transition: opacity 0.2s;
  line-height: 1;
  top: -3px;
  pointer-events: none;
}

#increaseControl i {
  top: -8px;
}

#timeline-container a:hover {
  z-index: 10;
}

#increase-day-button,
#decrease-day-button {
  left: 72px;
}

#increase-month-button,
#decrease-month-button {
  left: 45px;
}

#increase-year-button,
#decrease-year-button {
  left: 7px;
}

#increase-hour-button,
#decrease-hour-button {
  left: 104px;
}

#increase-minute-button,
#decrease-minute-button {
  left: 130px;
}

#increase-second-button,
#decrease-second-button {
  left: 155px;
}

#time-control:hover #decreaseControl i,
#time-control:hover #increaseControl i {
  opacity: 1;
}


#speed-decrease-button-container {
  left: 50%;
  transform: translate(-345px);
  top: 74px;
}

#speed-increase-button-container {
  left: 50%;
  transform: translate(310px);
  top: 74px;
  height: 15px;
}

#timeline-container .noUi-target.noUi-ltr.noUi-horizontal.noUi-background {
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(221, 211, 255, 0.5) 0%, rgba(221, 211, 255, 0.5) 25%,
      rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%,
      rgba(221, 211, 255, 0.5) 75%, rgba(221, 211, 255, 0.5) 100%);
}

#timeline-container .noUi-target .range-label {
  background-color: var(--cs-background-color-light);
}

#timeline-container .noUi-target:hover .range-label,
#timeline-container .noUi-target .noUi-active .range-label {
  background-color: #fff;
}

/* big timeline tooltips ------------------------------------------------------------------------ */

@-webkit-keyframes pointer-events-off {
  0% {
    pointer-events: initial;
  }

  99% {
    pointer-events: initial;
  }

  100% {
    pointer-events: none;
  }
}

@-webkit-keyframes pointer-events-on {
  0% {
    pointer-events: initial;
  }

  100% {
    pointer-events: initial;
  }
}

#timeline-bookmark-tooltip-container {
  position: absolute;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  animation-fill-mode: both;
  transition: opacity 0.2s linear;
  transition-delay: 0.4s;
  animation: pointer-events-off 0.4s linear;
}

#timeline-bookmark-tooltip-container:hover,
#timeline-bookmark-tooltip-container.visible {
  transition-delay: 0.2s;
  animation: pointer-events-on 0.2s linear;
  opacity: 1;
  pointer-events: initial;
}

#bookmark-tooltip {
  width: 400px;
  background-color: rgba(20, 20, 20, 0.8);
  border: 2px solid var(--cs-text-color-darkened);
  border-radius: 7px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

#timeline-bookmark-tooltip-header {
  display: flex;
}

#timeline-bookmark-tooltip-header i {
  font-size: 15pt;
}

#timeline-bookmark-tooltip-name {
  padding: 5px 10px;
  flex-grow: 1;
  font-size: 1.1rem;
}

#timeline-bookmark-tooltip-description {
  padding: 0 10px 10px 10px;
  font-size: 0.9rem;
}

#timeline-bookmark-tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid var(--cs-text-color-darkened);
  position: absolute;

  top: -10px;
}

#timeline-container #plugin-buttons {
  max-width: 25vw;
  display: flex;
  flex-wrap: wrap;
}