body{
    font-family: "Times New Roman", Times, serif;
    color: #ddf;
    font-size: 15px;
    -webkit-user-select: none !important;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }


  .vis-timeline {
    border-width: 0px;
    background-color: rgb(20, 20, 20);
  }

  #visualization .vis-timeline {
    border-width: 2px 0 2px 0;
    border-color: #ddf;
  }

  #visualization .vis-time-axis {
    pointer-events: none;
  }

  .vis-time-axis .vis-text {
    padding: 1px;
    color: #ddf;
  }

  .vis-item {
    border-color: rgba(20, 20, 20, 0.308);
    background-color: rgba(20, 20, 20, 0.5);
    color: #ddf;
    border-radius: 10px;
  }

  .vis-item.vis-box {
    border-radius: 10px;
  }

  .vis-item.vis-range {
    border-radius: 10px;
  }

  .vis-item,
  .vis-item.vis-line {
    border-width: 2px;
    border-radius: 10px;
  }

  .vis-item.vis-dot {
    border-width: 0;
    border-radius: 0;
  }

  .vis-item.vis-selected {
    border-color: rgba(70, 70, 70, 0.308);
    background-color: rgba(70, 70, 70, .247);
  }

  .vis-item.vis-box,
  .vis-item.vis-range {
    height: 13px !important;
    min-width: 13px !important;
    top: 4px !important
  }

  .vis-item.vis-box {
    width: 13px !important;
  }

  .vis-item-content {
    visibility: hidden;
  }


  .vis-panel.vis-bottom {
    height: 40px !important;
    top: -10px !important;
  }
  .vis-text.vis-major {
    top: 17px !important;
    visibility: hidden;
  }

  .vis-panel.vis-background.vis-horizontal,
  .vis-panel.vis-center,
  .vis-panel.vis-left,
  .vis-panel.vis-right,
  .vis-grid.vis-minor {
    height: 25px !important;
  }

  .vis-group {
    top: 0px;
  }

  #visualization .vis-custom-time {
    background-color: #ddf;
    width: 2px;
    cursor: inherit;
    visibility: hidden;
    pointer-events: none;
  }

  .vis-minor.vis-text {
    text-align: center;
    z-index: 1;
    top: 12px !important;
    font-size: 10px;
  }

  .vis-content {
    top: 0px !important;
  }

  .vis-grid.vis-vertical.vis-minor {
    border-color: #ddf;
    height: 14px !important;
    top: 4px !important;
    border-width: 2px;
  }