.btn i {
  font-size: 40px;
}

.deletable-mark i {
  line-height: 40px;
}

.deletable-mark {
  transition: opacity 0.3s linear, top 0.3s ease;
  border: 3px solid var(--cs-border-color);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.deletable-mark .triangle {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -10px;
  bottom: 12px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: var(--cs-border-color) transparent transparent transparent;
}

.deletable-mark.minimized {
  opacity: 0;
  top: 30px
}