.customTooltip {
    display: none;
    position: absolute;
    z-index: 9;
}
  
.custom-tooltip-container {
    width: 300px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.8);
    border: 2px solid #ddf;
    border-radius: 10px;
}

.custom-tooltip-container h3 {
    text-align: center;
}

#itemLocation {
    cursor: pointer;
}

#itemLocation:hover {
    text-shadow: 0 0 20px #fff;
}