name: Deploy

on:
  push:
    tags:
      - '**'

jobs:
  source_code:
    name: Source Code
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Submodules
      run: git submodule update --init
    - name: Create Release
      run: externals/git-archive-all.sh/git-archive-all.sh --prefix cosmoscout-vr/ source-with-submodules.tar.gz
    - name: Upload Release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.UPLOAD_TOKEN }}
        file: source-with-submodules.tar.gz
        asset_name: source-with-submodules.tar.gz
        tag: ${{ github.ref }}
        overwrite: true

  release_linux:
    name: Linux
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Submodules
      run: git submodule update --init
    - name: Download Dependencies
      run: |
        sudo apt-get update -q
        sudo apt-get install libgl1-mesa-dev libglu1-mesa-dev libx11-dev
        sudo apt-get install libxi-dev libgconf-2-4
        sudo apt-get install libboost-all-dev
    - name: Build Externals
      run: ./make_externals.sh -G "Unix Makefiles"
    - name: Build CosmoScout VR
      run: ./make.sh -G "Unix Makefiles"
    - name: Create Release
      run: | 
        mv install/linux-Release cosmoscout-vr
        cmake -E tar cv cosmoscout-vr-linux64.tar.gz cosmoscout-vr
    - name: Upload Release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.UPLOAD_TOKEN }}
        file: cosmoscout-vr-linux64.tar.gz
        asset_name: cosmoscout-vr-linux64.tar.gz
        tag: ${{ github.ref }}
        overwrite: true

  release_windows:
    name: Windows
    runs-on: windows-2019
    env:
      BOOST_ROOT_1_72_0: C:\hostedtoolcache\windows\Boost\1.72.0\x86_64
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Checkout Submodules
      run: git submodule update --init
    - name: Download Boost
      run: |
        # From https://github.com/actions/virtual-environments/issues/2667
        $url = "https://github.com/actions/boost-versions/releases/download/1.72.0-20200608.4/boost-1.72.0-win32-msvc14.2-x86_64.tar.gz"
        (New-Object System.Net.WebClient).DownloadFile($url, "$env:TEMP\boost.tar.gz")
        7z.exe x "$env:TEMP\boost.tar.gz" -o"$env:TEMP\boostArchive" -y | Out-Null
        7z.exe x "$env:TEMP\boostArchive" -o"$env:TEMP\boost" -y | Out-Null
        Push-Location -Path "$env:TEMP\boost"
        Invoke-Expression .\setup.ps1
    - name: Build Externals
      shell: cmd
      run: make_externals.bat -G "Visual Studio 16 2019" -A x64 
    - name: Build CosmoScout VR
      shell: cmd
      run: make.bat -G "Visual Studio 16 2019" -A x64 -DBOOST_ROOT=%BOOST_ROOT_1_72_0%
    - name: Create Release
      run: | 
        move install\windows-Release cosmoscout-vr
        cmake -E tar cv cosmoscout-vr-win64.zip --format=zip cosmoscout-vr
    - name: Upload Release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.UPLOAD_TOKEN }}
        file: cosmoscout-vr-win64.zip
        asset_name: cosmoscout-vr-win64.zip
        tag: ${{ github.ref }}
        overwrite: true
